[submodule "projects/math"]
	path = projects/math
	url = https://github.com/AmirAfsharrad/math-simulations.git
[submodule "teaching/ee263-matrix-methods/sim"]
	path = teaching/ee263-matrix-methods/sim
	url = https://github.com/AmirAfsharrad/math-simulations.git
